{% extends "web/base/base.html" %}
{% block title %}博客编辑{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/editormd.min.css" />
<style type="text/css">
    #title{
        width: 60%;
        border: none;
        outline: medium;
        text-align: center;
        border-bottom: 1px solid #000000;
        margin: 10px auto 20px auto;
        box-shadow: none;
        -webkit-box-shadow:none;
    }
</style>
{% endblock %}
{% block content %}
    {% include 'web/base/header.html' %}
    <br>
    <div class="grid-container" style="min-height:600px;">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-10 large-10 medium-offset-1 large-offset-1" style="background-color: #fff;padding:20px;">
                <form id="mainform" action="#" method="post" enctype="multipart/form-data" data-abide novalidate>
                    {% csrf_token %}
                    <div class="column">
                        <label>
                            <input id="title" name="title" type="text" align="middle" autofocus="autofocus" minlength="10"
                                   maxlength="100" placeholder="标题，至少8个字符" autocomplete="off"
                                   required value="{{ article.title.value }}">
                            <span class="form-error">请输入文章标题！</span>
                        </label>
                    </div>
                    <div class="column">
                        <ul class="vertical menu" data-accordion-menu>
                            <li>
                                <a href="#">简要信息</a>
                                <ul class="menu vertical nested">
                                    <li>
                                        <input name="subject" type="text" maxlength="500" placeholder="主题内容"
                                               value="{{ article.subject.value }}">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% if categories %}
                        <br>
                        <div class="column">
                            <fieldset>
                                <legend>分类：</legend>
                                {% for category in  categories %}
                                    <input id="{{ category.spell }}" name="categories" type="checkbox"
                                           value="{{ category.id }}" {{ category.checked }}>
                                    <label for="{{ category.spell }}">{{ category.name }}</label>
                                {% endfor %}
                            </fieldset>
                        </div>
                    {% endif %}
                    <div class="column">
                    <div id="editor">
                    <textarea style="display:none;">{{ article.content.value }}</textarea>
                    </div>
                    </div>
                    <br>
                    <div class="column">
                        <p>置顶：</p>
                        <div class="switch medium">
                            {% if article.topping.value %}
                                <input class="switch-input" id="topping" name="topping" type="checkbox"
                                       onclick="this.value=this.checked?1:0" checked>
                            {% else %}
                                <input class="switch-input" id="topping" name="topping" type="checkbox"
                                       onclick="this.value=this.checked?1:0">
                            {% endif %}
                            <label class="switch-paddle" for="topping">
                                <span class="show-for-sr">是否置顶？</span>
                                <span class="switch-active" aria-hidden="true">是</span>
                                <span class="switch-inactive" aria-hidden="true">否</span>
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="column text-left">
                        <button type="submit" class="button">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Model -->
    <div class="reveal tiny" id="cachetips" data-reveal>
        <p>是否加载草稿箱内容?</p>
        <div>
            <button id="loadCache" class="button" data-close aria-label="Close reveal">加载</button>
            <button id="removeCache" class="button alert pull-right" data-close aria-label="Close reveal">清除</button>
        </div>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/editormd.min.js"></script>
    <script type="text/javascript" src="/static/js/languages/zh-tw.js"></script>
    <script type="text/javascript" src="/static/js/plugins/code-auto-save/code-auto-save.js"></script>
    <script type="text/javascript">
        $(function(){
            var timer;
            var saveInterval = 500;
            var editor = editormd('editor', {
                name:'content',
                width:'100%',
                height:800,
                placeholder:'请编写你的文章内容.',
                codeFold:true,
                watch:false,
                toolbarAutoFixed:true,
                emoji:true,
                tex:true,
                imageUpload:true,
                imageFormats:["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL:'/upload/',
                csrftoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                crossDomainUploadz:true,
                uploadCallbackURL:'',
                fileName: 'file',
                path:'/static/lib/',
                pluginPath:'/static/js/plugins/',
                cachekey: (location.protocol + location.host + location.pathname + location.search).replace(/[.:?=\/-]/g, '_') + '{{ request.user.id }}',
                toolbarIcons:function(){
                    return ["undo", "redo", "|", "bold", "del", "italic", "quote", "ucwords",
                        "|", "h1", "h2", "h3", "|", "list-ul", "list-ol", "hr", 
                        "|", "link", "image", "code", "code-block", "table", 
                        "|", "watch", "preview", "fullscreen", "clear", "search",
                        "||", "loadcache"
                    ];
                },
                toolbarIconsClass: {
                    loadcache: "fa-paste"
                },
                toolbarIconTexts: {
                    loadcache: "从草稿箱加载"
                },
                lang:{
                    lang:'zh-tw',
                    toolbar: {
                        loadcache: '加载缓存'
                    }
                },
                toolbarHandlers: {
                    loadcache: function(){
                        var article = editor.CodeAutoSaveGetCache();
                        setArticle(article);
                    }
                },
                onfullscreen: function(){
                    $('.switch').hide();
                },
                onfullscreenExit: function(){
                    $('.switch').show();
                },
                onload: function(){
                    this.CodeAutoSave();
                    this.executePlugin('CodeAutoSave', 'code-auto-save/code-auto-save');

                    // 加载缓存文章
                    var article = editor.CodeAutoSaveGetCache();
                    if(article && Object.keys(article).length > 0){
                        $('#cachetips').foundation('open');
                    }
                },
                onautosave: function(){
                    if(timer){
                        clearTimeout(timer);
                    }

                    timer = setTimeout(function(){
                        var article = getArticle();
                        if(article && Object.keys(article).length > 0 && article.content.trim() != ''){
                            editor.CodeAutoSaveSetCache(article);
                        }else{
                            editor.CodeAutoSaveRemoveCache();
                        }
                    }, saveInterval);
                }
            });

            $('#loadCache').click(function(){
                var article = editor.CodeAutoSaveGetCache();
                setArticle(article);
            });

            $('#removeCache').click(function(){
                editor.CodeAutoSaveRemoveCache();
            });

            function getArticle(){
                var article = {};
                var data = $('#mainform').serializeArray();
                if(data && data.length > 0){
                    article = { categories : []};
                    $(data).map(function(){
                        if(article.hasOwnProperty(this.name)){
                            article[this.name].push(this.value);
                        }else{
                            article[this.name] = this.value;
                        }
                    });
                }
                return article;
            }

            function setArticle(article){
                if(article && Object.keys(article).length > 0){
                    document.getElementsByName('title')[0].value = article.title;
                    document.getElementsByName('subject')[0].value = article.subject;
                    editor.setValue(article.content);
                    if(article.categories && article.categories.length > 0){
                        $('input[name=categories]').map(function(){
                            this.checked = article.categories.includes(this.value);
                        });
                    }
                }
            }
        });
    </script>
{% endblock %}
