{% extends "web/base/base.html" %}
{% block title %}首页{% endblock %}

{% block content %}
    <div class="callout large primary" id="banner">
        <div class="row column text-left">
            <h1>{{ title }}</h1>
            <!--        <div class="media-object" style="height: 100px;">
                    <div class="media-object-section">
                    <img src="https://placeimg.com/200/200/people?t=1"
                    style="width: 100px;height: 100px;border-radius: 50px;">
                    </div>
                    <div class="media-object-section">
                    <h4>孤独患者.</h4>
                    <p>丢失灵魂的肉体，七窍已坠入地狱。</p>
                    </div>
                    </div>-->
        </div>
    </div>
    <div class="grid-container" id="content">
        {% if articles %}
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-8 large-8">
                    {% for article in articles %}
                        {% if forloop.counter0 == 0 %}
                            <div>
                                <div class="column">
                                    <div>
                                        <ul class="menu">
                                            <li class="is-active"><a href="/">首页</a></li>
                                            <li><a href="#">时间轴</a></li>
                                            <li><a href="#">技术杂谈</a></li>
                                            <li><a href="#">关于</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3>
                                    {{ article.title }}
                                    <small>{{ article.create_time|date:'d/m/Y' }}</small>
                                </h3>
                                <img class="thumbnail" src="https://placehold.it/850x350">
                                <p>{{ article.subject }}</p>
                                <div class="callout">
                                    <ul class="menu simple">
                                        <li>
                                            <a href="/index/u{{ article.create_user_id }}">
                                                Author: {{ article.create_user_name }}
                                            </a>
                                        </li>
                                        <li><a href="#">Comments: {{ article.hits }}</a></li>
                                        {% if article.tags %}
                                            <li class="float-right show-for-medium">
                                                {% for tag in article.tags %}
                                                    <span class="primary label">{{ tag }}</span>
                                                {% endfor %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="media-object">
                                {% if forloop.counter|divisibleby:2 %}
                                    <div class="media-object-section">
                                        <img src="https://placeimg.com/200/200/people?t=1">
                                    </div>
                                {% endif %}
                                <div class="media-object-section">
                                    <h4>{{ article.title }}</h4>
                                    <p>{{ article.subject }}</p>
                                </div>
                                {% if not forloop.counter|divisibleby:2 %}
                                    <div class="media-object-section">
                                        <img src="https://placeimg.com/200/200/people?t=1">
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="cell medium-3 medium-offset-1 large-3 large-offset-1 show-for-medium" data-sticky-container>
                    <div class="sticky" data-sticky data-anchor="content">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">Skyler</a></li>
                            <li><a href="#">Jesse</a></li>
                            <li><a href="#">Mike</a></li>
                            <li><a href="#">Holly</a></li>
                        </ul>
                        <h4>Authors</h4>
                        <ul>
                            <li><a href="#">Skyler</a></li>
                            <li><a href="#">Jesse</a></li>
                            <li><a href="#">Mike</a></li>
                            <li><a href="#">Holly</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if total_pager > 1 %}
            <div class="row column">
                <ul class="pagination" role="navigation" aria-label="Pagination">
                    <li class="disabled">Previous</li>
                    {% for index in total_pager %}
                        {% if index == pager %}
                            <li class="current"><span class="show-for-sr">You're on page</span>{{ index }}</li>
                        {% elif index <= 20 %}
                            <li><a href="/index/p{{ index }}" aria-label="Page 2">{{ index }}</a></li>
                        {% else %}
                            <li class="ellipsis"></li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="#" aria-label="Next page">Next</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
    <hr>
{% endblock %}