<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="{{ keywords }}">
    <title>首页_那人的博客</title>
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>
<body>
<div class="callout large primary" id="banner">
    <div class="row column text-left">
        <h1>Whl Blog</h1>
        <!--        <div class="media-object" style="height: 100px;">
                <div class="media-object-section">
                <img src="https://placeimg.com/200/200/people?t=1"
                style="width: 100px;height: 100px;border-radius: 50px;">
                </div>
                <div class="media-object-section">
                <h4>孤独患者.</h4>
                <p>丢失灵魂的肉体，七窍已坠入地狱。</p>
                </div>
                </div>-->
    </div>
</div>
<div class="grid-container" id="content">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-8 large-8">
            <div>
                <div class="column">
                    <div>
                        <ul class="menu">
                            <li class="is-active"><a href="/">首页</a></li>
                            <li><a href="#">时间轴</a></li>
                            <li><a href="#">技术杂谈</a></li>
                            <li><a href="#">关于</a></li>
                        </ul>
                    </div>
                </div>
                <h3>
                    Awesome blog post title
                    <small>3/6/2016</small>
                </h3>
                <img class="thumbnail" src="https://placehold.it/850x350">
                <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim
                    congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.
                    Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.
                    Nulla at nulla justo, eget luctus.</p>
                <div class="callout">
                    <ul class="menu simple">
                        <li><a href="#">Author: Mike Mikers</a></li>
                        <li><a href="#">Comments: 3</a></li>
                        <li class="float-right show-for-medium">
                            <span class="primary label">Python</span>
                            <span class="secondary label">并发</span>
                            <span class="warning label">入门教程</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <img src="https://placeimg.com/200/200/people?t=1">
                </div>
                <div class="media-object-section">
                    <h4>Dreams feel real while we're in them.</h4>
                    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An
                        idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It
                        can
                        grow to define or destroy you.</p>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <h4>Dreams feel real while we're in them.</h4>
                    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An
                        idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It
                        can
                        grow to define or destroy you.</p>
                </div>
                <div class="media-object-section">
                    <img src="https://placeimg.com/200/200/people?t=2">
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <img src="https://placeimg.com/200/200/people?t=3">
                </div>
                <div class="media-object-section">
                    <h4>Dreams feel real while we're in them.</h4>
                    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An
                        idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It
                        can
                        grow to define or destroy you.</p>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <h4>Dreams feel real while we're in them.</h4>
                    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An
                        idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It
                        can
                        grow to define or destroy you.</p>
                </div>
                <div class="media-object-section">
                    <img src="https://placeimg.com/200/200/people">
                </div>
            </div>
        </div>
        <div class="cell medium-3 medium-offset-1 large-3 large-offset-1 show-for-medium" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="content">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>
                <h4>Authors</h4>
                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row column">
        <ul class="pagination" role="navigation" aria-label="Pagination">
            <li class="disabled">Previous</li>
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li><a href="#" aria-label="Page 3">3</a></li>
            <li><a href="#" aria-label="Page 4">4</a></li>
            <li class="ellipsis"></li>
            <li><a href="#" aria-label="Page 12">12</a></li>
            <li><a href="#" aria-label="Page 13">13</a></li>
            <li><a href="#" aria-label="Next page">Next</a></li>
        </ul>
    </div>
</div>
<hr>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/what-input.js"></script>
<script src="/static/js/foundation.js"></script>
<script>
    $(document).ready(function () {
        $(document).foundation();
    })
</script>
</body>
</html>