{% extends 'web/base/base.html' %}
{% block title %}用户信息{% endblock %}

{% block content %}
    <div class="grid-container">
        <br>
        <form action="#" method="post" enctype="multipart/form-data" data-abide>
            {% csrf_token %}
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 medium-10 large-8 medium-offset-1 large-offset-2">
                    <div class="media-object" style="height: 100px;">
                        <div class="media-object-section">
                            <label for="avatar">
                                <img id="preview" src="{{ user.avatar.value|default:'\static\images\avatars\xhr_7.jpg' }}"
                                     class="thumbnail"
                                     style="width: 100px;height:100px;border-radius: 50px;">
                            </label>
                        </div>
                    </div>
                    <input id="avatar" name="file" type="file" class="show-for-sr"
                           accept="image/png,image/gif,image/jpg,image/jpeg" value="{{ user.avatar.value|default:'' }}">
                </div>
                <div class="cell small-12 medium-5 large-4 medium-offset-1 large-offset-2">
                    <label>昵称：
                        <input name="username" type="text" autofocus="autofocus" minlength="4" maxlength="20"
                               value="{{ user.username.value|default:'' }}" required>
                    </label>
                </div>
                <div class="cell small-12 medium-10 large-8 medium-offset-1 large-offset-2">
                    <label>性别：
                        <div class="switch medium">
                            <input class="switch-input" id="switchSex" type="checkbox" name="sex"
                                   value="{{ user.sex.value }}">
                            <label class="switch-paddle" for="switchSex">
                                <span class="switch-active" aria-hidden="true">女</span>
                                <span class="switch-inactive" aria-hidden="true">男</span>
                            </label>
                        </div>
                    </label>
                </div>
                <div class="cell small-10 medium-8 large-6 medium-offset-1 large-offset-2">
                    <label>年龄：
                        <div class="slider" data-slider data-initial-start="23" data-end="120">
                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                              aria-controls="sliderAge"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </label>
                </div>
                <div class="cell small-2 medium-3 large-1">
                    <label>&nbsp;&nbsp;&nbsp;
                        <input type="number" id="sliderAge" name="age" value="{{ user.age.value }}" required>
                    </label>
                </div>
                <div class="cell small-12 medium-10 large-8 medium-offset-1 large-offset-2">
                    <label>个性签名：
                        <textarea class="full" rows="3" maxlength="200"
                                  name="introduction">{{ user.introduction.value }}</textarea>
                    </label>
                </div>
                <div class="cell small-12 medium-10 large-8 medium-offset-1 large-offset-2 text-left">
                    <button type="submit" class="button success">保存</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // 上传头像
            $('#avatar').change(function () {
                if (this.files.length <= 0) {
                    return;
                }

                const reader = new FileReader()
                reader.onload = function (e) {
                    document.querySelector('#preview').src = e.target.result;
                }
                reader.readAsDataURL(this.files[0]);
            });
        });
    </script>
{% endblock %}
